Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
.idea/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf
*.sdf
*.user
*.userprefs
*.code-workspace
.vsconfig
enc_temp_folder/
*.xcworkspace
*.xcodeproj
.compile
.vsconfig
*.uproject.user
*.log
*.tmp
.DS_Store
Thumbs.db
